@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Playwrite+HR+Lijeva+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
button:hover{
  cursor: pointer;
}

a {
  text-decoration: none;
}
.info {
  display: inline-flex;
  list-style-type: none;
  font-size: 17px;
}
.info li {
  padding-right: 25px;
  color: #7a7a7a;
}
.info li:first-child {
  border-right: 1px solid #eeeeee;
}
.info li:last-child {
  padding-left: 15px;
}
.info .bx {
  font-size: 25px;
  padding: 8px;
}
.social-links {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 300px;
}
.social-links .bx {
  font-size: 20px;
  padding: 7px;
  margin: 5px;
  background: #cdcdcd;
  border-radius: 50%;
}
.social-links .bx:hover{
  background: #f35525;
  transition: background 300ms ease-in-out ;
}
.top-sect {
  display: flex;
  margin: 10px 300px;
}

.fixed {
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0 4px 2px -2px;
  left: 0;
  top: 0;
  padding-bottom: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 300px;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
  width: 100%;
  z-index: 2;
  font-family: "Poppins";
}

.logo {
  font-size: 35px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-left: 15px;
  color: #000;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-links a {
  text-decoration: none;
  font-size:17px;
  color: #000;
}
.nav-links a.active {
  color: #f35525;
}
.cta-button {
  display: flex;
  position: relative;
  align-items: center;
  background: #1e1e1e;
  color: #fff;
  border: none;
  padding: 12px 35px 12px 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
}
.cta-button:hover , .nav-links a:hover{
  color: #f35525;
  transition: color 300ms ease-in-out;
}
.bxs-calendar-alt{
  position: absolute;
  left: 0;
  background: #f35525;
  display: inline-block;
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
}
/* slider*/
.embla {
  position: relative;
  margin: 5px;
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  margin-right: 10px;
}
.embla__slide img {
  height: 80%;
  width: 100%;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  /* gap: 1.2rem; */
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 0.6rem; */
  align-items: center;
}
.embla__button {
  /* -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none; */
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  /* text-decoration: none; */
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.embla__button--prev {
  position: absolute;
  top: 35%;
  left: 5%;
}
.embla__button--next {
  position: absolute;
  top: 35%;
  right: 5%;
}
.embla__button--prev,
.embla__button--next {
  background: #3a3e3dcf;
  z-index: 1;
  border-radius: 50%;
}
.embla__button__svg {
  width: 50%;
  height: 50%;
  color: #fff;
}
.embla__dots {
  position: absolute;
  bottom: 30%;
  left: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.embla__dot {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__dot:after {
  background: #fff;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background: #f35525;
}

.Featured {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 100px;
}
.item1 {
  margin: 20px;
}
.item2{
  margin: 20px;
}
.images {
  position: relative;
}
.images .img-feature {
  width: 350px;
  height: 500px;
}
.icon {
  position: absolute;
  bottom: -5%;
  left: -15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f35525;
  border-radius: 50%;
  padding: 25px;
}
.red-bold {
  color: #ee626b;
  font-size: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.black-bold {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 56px;
  color: #1e1e1e;
}

.accordion {
  background: #fafafa;
  width: 500px;
  margin-top: 30px;
}
/* .accordion-item {
  display: flex;
  flex-direction: column;

} */
.accordion-head {
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  padding: 10px;
  align-items: center;
}
.accordion-body {
  max-height:0;
  padding-left: 15px;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  transition : max-height .1s ease;
}
.accordion-head.active{
  color: #f35525;
}
.accordion-head.active + .accordion-body {
  margin: 25px 0;
  max-height:200px;
  transition : max-height 1s ease;
}
.accordion-body a{
  color: blue;
}
.accordion-body code{
  color: palevioletred;
}

.item2{
  margin-right: 15px;
}
.item3 {
  border-radius: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item3 .imagelist-wrapper{
  width: 300px;
  list-style: none;
  padding: 30px;
}
.imagelist{
  border-bottom: 1px solid rgb(222, 222, 222);
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.imagelist:last-child{
  border: none;
}
.imagelist span{
  color: #7a7a7a;
  font-size: 15px;
  font-weight: 200;
}
.imagelist img{
  margin: 15px;
}
.video-section{
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url('../Images/image-blur.jpg');
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-player{
  position: absolute;
  bottom: -250px;
}
.text-wrapper{
  margin-bottom: 100px;
}
.text-wrapper h2{
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 56px;
  color: #fff;
}
.video-frame{
  border-radius: 15px;
}
.bx-play-circle{
  position: absolute;
  right: 45%;
  top: 40%;
  font-size: 80px;
  background: #fff;
  border-radius: 50%;
 }
 .fun-facts{
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  place-items: center;
 }
 .counter{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffe2da;
  height: 100px;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  margin: 90px;
 }
 .counter::before{
  content: " ";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  background: #f35525;
  border-radius: 50%;
 }
 .counter h2{
  color: #f35525;
  font-size: 35px;
  padding-right: 20px;

 }
 .counter p{
  font-weight: bold;
 }
 .best-deal {
  margin: 90px;
  background-color: #fafafa;
 }
 .best-deal .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .left, .right {
  width: 50%;
}
 .best-deal .col-6:first-child{
  margin: 0 0 0 230px;
 }
 .best-deal .imagelist-wrapper{
  width: 200px;
 }
 .best-deal .cta-button{
  padding: 17px 35px 17px 60px;
  font-size: 15px;
  /* margin-top: 15px; */
 }
 .best-deal .bxs-calendar-alt{
  padding: 15px;
 }
 .buliding-navbar{
  display: inline-block;
 }
 .buliding-navbar li{
  display: inline-block;
 }
 .bulding{
  background: #1e1e1e;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  padding: 15px 30px;
  border-radius: 4px;
 }
 .bulding-active{
  background: #f35525;
 }
 /* next row */
 .display-grid{
  margin-top: 50px;
  display: flex; 
  /* place-items: center; */
  place-content: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
 }
 .display-grid .list-wrapper{
  margin-right: 50px;
  width: 350px;
  border-radius: 10px;
  padding: 35px 30px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #7a7a7a;
 }
.list-wrapper li{
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 15px;
}
.list-wrapper li span{
  font-size: 23px;
  color: #1e1e1e;
  font-weight: bold;
  padding-left: 25px;
}
.list-wrapper li p{
  padding-right: 20px;
}
.list-wrapper li h2{
  text-align: right;
}
.list-wrapper li:last-child{
  border-bottom: none;
}
.Extra-info{
  margin-left: 50px;
  
}
.Extra-info p{
  padding: 10px 0;
  width: 300px;
  line-height: 30px;
  color: #7a7a7a;
}

/* .best-deal .display-grid{
  display: none;
} */
.shown{
  display: none;
}

/* Properties */
.properties{
  margin: 100px;
}
.item{
  background-color: #fafafa;
  border-radius: 10px;
  width: 400px;
  padding: 25px;
  margin-bottom: 50px;
}
.image-card{
  text-align: center;
}
.image-card img{
  border-radius: 10px;
}
.item ul{
  color: #5a5959;
  line-height: 25px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}
.item li{
  display: inline-block;
  
}
.item li span{
  color: #000;
  font-weight: bold;
}
.item .title{
  margin: 30px 0;
}
.link{
  text-align: center;
  margin-top: 25px;
}
.link a{
  text-decoration: none;
  background: #1e1e1e;
  color: #fff;
  border-radius:50px;
  padding: 10px 30px;
}
.link a:hover{
  background: #f35525;
  transition: background 300ms ease-in-out;
}
.price span{
  background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 25px;
}
.price h6{
  font-size: 20px;
    color: #f35525;
    margin-top: 6px;
    display: inline-block;
    float: right;
    text-align: right;
    margin-top: 30px;
}
/* Contact-Us */
.Contact-Us{
  position: relative;
  background-image: url("../Images/garden-villa.jpg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.Contact-Us .text-wrapper{
  padding-top: 5%;
}
.contact-content{
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
  width: 100%; 
}
.form{
  text-align: left;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
  width: 500px;
  height: 700px;
  background: #fff;
  border-radius: 10px;
  margin-left: 15px;

}
.form a{
  text-decoration: none;
  background: #1e1e1e;
  color: #fff;
  border-radius:50px;
  padding: 15px 20px;
  display: inline-block;
}
.form a:hover{
  background: #f35525;
  transition: background 300ms ease-in-out;
}
.form label{
  display: block;
  margin: 5px;
}
.form input {
  display: block;
  background: #eeeeee;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  border: none;
}
.form input , textarea{
  padding: 10px;
  border: none;
  background: #eeeeee;
  border-radius: 15px;

}
.contact-info{
  /* display: flex; */
  padding:20px 0 0 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #1e1e1e;
  width: 300px;
  margin: 80px 20px 0 20px;
}
.contact-info span{
  color: #7a7a7a;
  font-weight: 100;
  font-size: 13px;
}
.contact-info .imagelist{
  border: none;
}
.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
  padding: 15px;
}
.col-lg-6{
  display: flex;
}
.credit{
  margin-top: 500px;
  background: #1e1e1e;
  color: #fff;
  padding:40px 300px;
}